-- MySQL dump 10.13  Distrib 8.0.34, for Win64 (x86_64)
--
-- Host: localhost    Database: recipebase
-- ------------------------------------------------------
-- Server version	8.0.34

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comments` (
  `Body` varchar(10000) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  `Recipe` varchar(36) NOT NULL,
  KEY `UserID` (`UserID`),
  KEY `Recipe` (`Recipe`),
  CONSTRAINT `Comments_ibfk_7` FOREIGN KEY (`UserID`) REFERENCES `user` (`UserID`),
  CONSTRAINT `Comments_ibfk_9` FOREIGN KEY (`Recipe`) REFERENCES `recipe` (`RecipeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
INSERT INTO `comments` VALUES ('I love this recipe for your waffles in 2023 :)','2382da03-6eed-11ee-95c8-96fc48e250ac','031953e1-6ef1-11ee-95c8-96fc48e250ac'),('I also love this recipe for waffles in 2023!','1798bce1-6eed-11ee-95c8-96fc48e250ac','031953e1-6ef1-11ee-95c8-96fc48e250ac');
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rating`
--

DROP TABLE IF EXISTS `rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rating` (
  `Value` tinyint(1) NOT NULL,
  `RatingID` varchar(36) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  `RecipeID` varchar(36) NOT NULL,
  PRIMARY KEY (`RatingID`),
  KEY `UserID` (`UserID`),
  KEY `RecipeID` (`RecipeID`),
  CONSTRAINT `Rating_ibfk_10` FOREIGN KEY (`RecipeID`) REFERENCES `recipe` (`RecipeID`),
  CONSTRAINT `Rating_ibfk_8` FOREIGN KEY (`UserID`) REFERENCES `user` (`UserID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rating`
--

LOCK TABLES `rating` WRITE;
/*!40000 ALTER TABLE `rating` DISABLE KEYS */;
INSERT INTO `rating` VALUES (5,'7cd7f8fc-6f00-11ee-95c8-96fc48e250ac','2382da03-6eed-11ee-95c8-96fc48e250ac','031953e1-6ef1-11ee-95c8-96fc48e250ac'),(4,'91f8f686-6f00-11ee-95c8-96fc48e250ac','1798bce1-6eed-11ee-95c8-96fc48e250ac','031953e1-6ef1-11ee-95c8-96fc48e250ac');
/*!40000 ALTER TABLE `rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe`
--

DROP TABLE IF EXISTS `recipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe` (
  `Title` varchar(255) NOT NULL,
  `Type` enum('Asian','Italian','other') DEFAULT NULL,
  `Text` varchar(10000) NOT NULL,
  `RecipeID` varchar(36) NOT NULL,
  `UserID` varchar(36) NOT NULL,
  PRIMARY KEY (`RecipeID`),
  KEY `UserID` (`UserID`),
  CONSTRAINT `Recipe_ibfk_2` FOREIGN KEY (`UserID`) REFERENCES `user` (`UserID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe`
--

LOCK TABLES `recipe` WRITE;
/*!40000 ALTER TABLE `recipe` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipeimage`
--

DROP TABLE IF EXISTS `recipeimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipeimage` (
  `Image` varchar(255) NOT NULL,
  `RecipeID` varchar(36) NOT NULL,
  PRIMARY KEY (`RecipeID`,`Image`),
  CONSTRAINT `RecipeImage_ibfk_2` FOREIGN KEY (`RecipeID`) REFERENCES `recipe` (`RecipeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipeimage`
--

LOCK TABLES `recipeimage` WRITE;
/*!40000 ALTER TABLE `recipeimage` DISABLE KEYS */;
INSERT INTO `recipeimage` VALUES ('/031953e1-6ef1-11ee-95c8-96fc48e250ac/file1.png','031953e1-6ef1-11ee-95c8-96fc48e250ac'),('/031953e1-6ef1-11ee-95c8-96fc48e250ac/file2.png','031953e1-6ef1-11ee-95c8-96fc48e250ac'),('/031953e1-6ef1-11ee-95c8-96fc48e250ac/file3.png','031953e1-6ef1-11ee-95c8-96fc48e250ac'),('/2a75bfea-6ef0-11ee-95c8-96fc48e250ac/file1.png','2a75bfea-6ef0-11ee-95c8-96fc48e250ac'),('/2a75bfea-6ef0-11ee-95c8-96fc48e250ac/file2.png','2a75bfea-6ef0-11ee-95c8-96fc48e250ac');
/*!40000 ALTER TABLE `recipeimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `Name` varchar(64) NOT NULL,
  `Email` varchar(255) DEFAULT NULL,
  `ProfilePicture` blob,
  `UserType` enum('Admin','User') NOT NULL,
  `UserID` varchar(36) NOT NULL DEFAULT (uuid()),
  PRIMARY KEY (`UserID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-11-03 17:03:09
