<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add User</title>
    <style>
        form {
            max-width: 400px;
            margin: 20px auto;
        }

        label, input, select, button {
            margin-bottom: 15px;
        }

        p {
            color: red;
        }

    </style>
</head>

<body>
    <h1>Add a New User</h1>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <p>Database Connection Status: {{ connection_status }}</p>

    <form method="post" enctype="multipart/form-data">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required autofocus><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="profile_picture">Profile Picture (Max size: 1MB):</label><br>
        <input type="file" id="profile_picture" name="profile_picture"><br>

        <label for="user_type">User Type:</label><br>
        <select id="user_type" name="user_type">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select><br>


        <button type="submit">Add User</button>
    </form>

    <a href="{{ url_for('index') }}">Back to home</a>
</body>

</html>