<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
{% include 'navbar.html' %}
<div class="container mt-4">
    <h2>Connection Status: {{ connection_status }}</h2>
    <div class="connection-buttons">
        <form method="post">
            <button name="open_connection" type="submit" class="btn btn-success">Open Connection</button>
            <button name="close_connection" type="submit" class="btn btn-danger">Close Connection</button>
        </form>
    </div>
    <br>
    <h3>Add User:</h3>
    <form action="/add_user" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="text" class="form-control" name="name" placeholder="Name" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="file" class="form-control" name="profile_picture" accept="image/*" placeholder="Profile Picture (Max size: 1MB)">
        </div>
        <div class="mb-3">
            <select class="form-select" name="user_type">
                <option value="Admin">Admin</option>
                <option value="User" selected>User</option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Add User">
    </form>
    <br>
    <h2>Delete a User</h2>
    <form method="post" action="/delete_user" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <button name="delete_user" type="submit" class="btn btn-danger">Delete User</button>
    </form>
    <br>
    <h2>Update User</h2>
    <form action="/update_user" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="user_id" class="form-label">User ID:</label>
            <input type="text" class="form-control" name="user_id" placeholder="User ID" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" placeholder="New Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" name="email" placeholder="New Email">
        </div>
        <div class="mb-3">
            <label for="profile_picture" class="form-label">Profile Picture (optional):</label>
            <input type="file" class="form-control" name="profile_picture">
        </div>
        <div class="mb-3">
            <label for="user_type" class="form-label">User Type:</label>
            <select class="form-select" name="user_type">
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Update User">
    </form>
    <br>
    <div id="userTableContainer">
        {% include 'user_table_format.html' %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function updateUserTable() {
        $.ajax({
            url: '/update_user_table',
            type: 'GET',
            success: function (data) {
                $('#userTableContainer').html(data);
            }
        });
    }
    $(document).ready(function () {
        updateUserTable();
    });
</script>