<!DOCTYPE html>
<html>
<head>
    <title>Database Connection Status</title>
</head>
<body>
    <h1>RecipeBase Connection Status</h1>
    <h1>Connection Status: {{ connection_status }}</h1>
    
    <form method="post">
        <button name="open_connection" type="submit">Open Connection</button>
        <button name="close_connection" type="submit">Close Connection</button>
    </form>

    <h2>Delete a User</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Username">
        <button name="delete_user" type="submit">Delete User</button>
    </form>
</body>
</html>
