<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table tr:not(:first-child):hover {
            background-color: #c0c0c0; /* Change this color to the desired hover color */
        }
    </style>
</head>
<body>
    <table border="1" id="recipePreviewTable">
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Text</th>
            <th>RecipeID</th>
            <th>UserID</th>
        </tr>
        {% if fetchedRecipes is not none %}
            {% for currRecipe in fetchedRecipes %}
                <tr onclick="window.location.href='{{ url_for('view_recipe', recipe_id=currRecipe.RecipeID) }}';" style="cursor: pointer;">
                    <td>{{ currRecipe.Title}}</td>
                    <td>{{ currRecipe.Type }}</td>
                    <td>{{ currRecipe.Text[:100] + '...' if currRecipe.Text|length > 100 else currRecipe.Text }}</td>
                    <td>{{ currRecipe.RecipeID }}</td>
                    <td>{{ currRecipe.UserID }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>
