<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .add-comment-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(3, 3, 3);
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

        /* Add more styles as needed */
    </style>
</head>
<table border="1" id="recipePreviewTable"/>
{% include 'navbar.html' %}
<div>
    <h1>{{ recipeData[0].Title }}</h1>
    <p>Type: {{ recipeData[0].Type }}</p>
    <p>Text: {{ recipeData[0].Text }}</p>
    <p>RecipeID: {{ recipeData[0].RecipeID }}</p>
    <p>UserID: {{ recipeData[0].UserID }}</p>
</div>
<div>
    <h2>Ratings</h2>
    {% if ratingData %}
        <ul>
            {% for rating in ratingData %}
                <li>{{ rating.Value }}<br>by {{ rating.UserID }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No ratings avaliable for this recipe</p>
    {% endif %}
</div>
<div>
    <h2>Comments</h2>
    {% if commentsData %}
        <ul>
            {% for comment in commentsData %}
                <li>{{ comment.Body }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by {{ comment.UserID }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments available for this recipe.</p>
    {% endif %}
    <form action="/add_comment" method="post" enctype="multipart/form-data">
        <input type="hidden" name="recipe_id" value="{{ recipeData[0].RecipeID }}">
        <label for="text">New Comment</label>
        <br></br>
        <textarea id="text" name="text" rows="4" cols="50" required></textarea><br><br>
        
        <input type="submit" class="add-comment-button" value="Submit">
    </form>
</div>
<div>
    <h2>Images</h2>
    {% if imageData %}
        <ul>
            {% for image in imageData %}
                <li><img src="{{ url_for('get_recipe_image', image_id=image.ImageID) }}" alt="Recipe Image"></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No images available for this recipe</p>
    {% endif %}
</div>
<body>

</body>
</html>